In [1]:
import pickle
import pandas as pd

In [2]:
chat_df = pickle.load(open("chat_history\chat.pickle", "rb"))

In [3]:
set(chat_df.from_id.values)

{19492291,
 22381381,
 179007104,
 188533876,
 221859240,
 234706017,
 275079864,
 320669384,
 322472465}

In [4]:
mapId2Name = {275079864: "Борз",
 221859240: "Жак",
 322472465: "Игорь",
 188533876: "Антоха",
 179007104: "Марти",
 19492291: "Степан",
 22381381: "Евгин",
 234706017: "Паша",
 320669384: "Славка"
}

In [5]:
chat_df[chat_df.text != ""].sort_index(ascending=False)[["from_id", "text"]]

         from_id                                               text
26680  275079864                        Сделал беседу нашей комнаты
26679  275079864                               Вы там гречку доели?
26678   19492291                                                угу
26677  221859240                              Я домой еду с сестрой
26676  221859240                          Можете чутка вещи убратт?
...          ...                                                ...
5      221859240  Проекты которые ты давно хотел сделать, но ник...
4      322472465                       мне бы ноут починить сначала
3      322472465  чтобы стримить/записывать нужно чтобы ноут не ...
2      221859240                                 Так в чем проблема
0      275079864  привкольно, но я даже первую половину не могу ...

[19838 rows x 2 columns]

In [46]:
prev_id = -1
with open("chat_parsed.txt", "w", encoding='utf-8') as text_file:
    for index, rows in chat_df[chat_df.text != ""].sort_index(ascending=False)[["from_id", "text"]].iterrows():
        cur_id = rows.from_id
        if cur_id != prev_id:
            str2write = " [EOM]" + " \n" +mapId2Name[cur_id] + ": " + rows.text
        else:
            str2write =  "\n" + rows.text
        text_file.write(str2write)
        prev_id = cur_id

## Parse only phrases with "smb + Slavka"

In [7]:
prev_id = -1
prev_txt = ""
cur_id = -1
cur_txt = ""
with open("chat_history\chat_parsed_slavka_only.txt", "w", encoding='utf-8') as text_file:
    for index, rows in chat_df[chat_df.text != ""].sort_index(ascending=False)[["from_id", "text"]].iterrows():
        cur_id = rows.from_id
        if cur_id != prev_id:
            if mapId2Name[cur_id] == "Славка":
                text_file.write(prev_txt)
                prev_txt = ""
                prev_id = cur_id
                cur_txt = " [EOM]" + " \n" +mapId2Name[cur_id] + ": " + rows.text
                text_file.write(cur_txt)
                cur_txt = ""
            else:
                prev_id = cur_id
                prev_txt = " [EOM]" + " \n" +mapId2Name[cur_id] + ": " + rows.text
        else:
            if mapId2Name[cur_id] == "Славка":
                cur_txt =  "\n" + rows.text
                text_file.write(cur_txt)
                cur_txt = ""
            else:
                prev_txt += "\n" + rows.text